.footer-container {
  bottom: 0;
  padding: 20px;
  max-width: 100% !important;
  background-color: #fff;
  border-top: 1.5px solid #0e0e0e;
  padding-top: 25px;
}

.footer-paper {
  /* padding: 16px; */
}

.social-media-icons {
  display: flex;
  justify-content: space-around;
  margin-top: 16px;
}

.form-input {
  margin-bottom: 16px;
}

.subscribe-button {
  margin-bottom: 16px;
}

.links-container {
  display: flex;
  justify-content: space-around;
}

.list {
  list-style-type: none;
  padding: 0;
}

.copyright {
  padding-top: 1rem;
}