.footer-container {
    padding: 20px;
    background-color: #E2FCD4;
    max-width: 100% !important;
  }
  
  .footer-paper {
    padding: 16px;
  }
  
  .social-media-icons {
    display: flex;
    justify-content: space-around;
    margin-top: 16px;
  }
  
  .form-input {
    margin-bottom: 16px;
  }
  
  .subscribe-button {
    margin-bottom: 16px;
  }
  
  .links-container {
    display: flex;
    justify-content: space-around;
  }
  
  .list {
    list-style-type: none;
    padding: 0;
  }
  