/* Estilo básico para todos los elementos */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

/* Centrar contenido en dispositivos móviles y de escritorio */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Estilo para encabezados */
h1, h2, h3 {
  text-align: center;
  color: #333;
}

/* Estilo para párrafos */
p {
  text-align: justify;
  color: #666;
}

/* Estilo para enlaces */
a {
  text-decoration: none;
  color: #0077cc;
}

/* Estilo para botones */
.button {
  display: inline-block;
  background-color: #0077cc;
  color: #fff;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}

/* Estilo para imágenes */
img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

/* Media queries para hacerlo responsivo */
@media screen and (max-width: 768px) {
  /* Cambiar estilos para dispositivos móviles */
  .container {
    padding: 10px;
  }
  h1, h2, h3 {
    font-size: 24px;
  }
  p {
    font-size: 16px;
  }
  .button {
    font-size: 14px;
  }
}

/* Agregar más media queries según sea necesario para adaptarse a diferentes tamaños de pantalla */

/* Estilo para dispositivos de escritorio */
@media screen and (min-width: 1024px) {
  .container {
    padding: 40px;
  }
  h1, h2, h3 {
    font-size: 36px;
  }
  p {
    font-size: 18px;
  }
  .button {
    font-size: 16px;
  }
}
