.stepper-alfabeto {
    margin: 20px auto;
    max-width: 80%;
}

.page-productos {
    margin: 0 auto;
}

.grid-productos {
    /* justify-content: center; */
    /* align-content: center; */
    margin: 0 auto;
    max-width: 80%;
}